# Session 10 Submissions by Sachin (Tupels and Named Tupels)

In [1]:
import pandas as pd
import session10 as s10

### 1. Use Faker library to get 10000 random profiles. Using namedtuple, calculate the largest blood type, mean-current_location, oldest_person_age and average age (add proper doc-strings)

In [2]:
# Create fake profiles library by named tuples
faker_db = s10.create_fake_library_by_namedtuple(10000)

In [3]:
#  Calculate the largest blood type
bg, time = s10.largest_bg(faker_db)
print(bg)

Function largest_bg takes average run time of 0.015413620999996738 for 100 iterations
A-

In [4]:
# Calculate mean-current_location
(lat,long),time = s10.mean_current_location(faker_db)
print(lat,long)

Function mean_current_location takes average run time of 0.022715397999998003 for 100 iterations
0.22046584465 -2.0530819694

In [5]:
# Calulate oldest person's age
oldest_age, time= s10.oldest_person_age(faker_db)
print(oldest_age)

Function oldest_person_age takes average run time of 0.014880346000005602 for 100 iterations
115.99143035106812

In [6]:
# Calculte average age
avg_age, time = s10.average_age(faker_db)
print(avg_age)

Function average_age takes average run time of 0.013308610999993108 for 100 iterations
57.644272230093556

In [7]:
# Show the doc string
faker_db.__doc__

'Represents database of 10000 random fake profile'

### 2. Do the same thing above using a dictionary. Prove that namedtuple is faster

In [8]:
# Create fake profiles library through dictionary
faker_db_dict = s10.create_fake_library_by_dict(10000)

In [9]:
#  Calculate the largest blood type
bg, time = s10.largest_bg_dict(faker_db_dict)
print(bg)

Function largest_bg_dict takes average run time of 0.008437660000003006 for 100 iterations
B+

In [10]:
# Calculate mean-current_location
lat,long = s10.mean_current_location_dict(faker_db_dict)
print(lat,long)

Function mean_current_location_dict takes average run time of 0.010559921999999914 for 100 iterations
(Decimal('0.0561137867'), Decimal('-0.9567618182')) 0.010559921999999914

In [11]:
# Calulate oldest person's age
oldest_age, time = s10.oldest_person_age_dict(faker_db_dict)
print(oldest_age)

Function oldest_person_age_dict takes average run time of 0.008675722999990967 for 100 iterations
115.9969061650821

In [12]:
# Calculte average age
avg_age, time = s10.average_age_dict(faker_db_dict)
print(avg_age)

Function average_age_dict takes average run time of 0.008876910999994152 for 100 iterations
58.063555582934534

In [13]:
s10.compare_time(faker_db, faker_db_dict)

Function largest_bg takes average run time of 0.0022890460000041914 for 100 iterations
Function mean_current_location takes average run time of 0.004443137000002935 for 100 iterations
Function oldest_person_age takes average run time of 0.0033427329999949507 for 100 iterations
Function average_age takes average run time of 0.002986983000000691 for 100 iterations

 ========================
Function largest_bg_dict takes average run time of 0.008019805999994105 for 100 iterations
Function mean_current_location_dict takes average run time of 0.01048348300000498 for 100 iterations
Function oldest_person_age_dict takes average run time of 0.007958611000007068 for 100 iterations
Function average_age_dict takes average run time of 0.008322694000003138 for 100 iterations

 ========================
Named Tuple performed 3 times faster

 ========================

(0.013061899000002769, 0.034784594000009286)

### 3. Create a fake data (you can use Faker for company names) for imaginary stock exchange for top 100 companies (name, symbol, open, high, close). Assign a random weight to all the companies. Calculate and show what value stock market started at, what was the highest value during the day and where did it end. Make sure your open, high, close are not totally random.

In [20]:
# create fake company profiles and list them in exchange
stock_exchange = s10.create_stock_exchange(num_of_listed_comp = 100)

In [21]:
# Stock market details
day_open,day_high,day_low,day_close = s10.stock_exchange_details(stock_exchange)
print("=======Stock Exchange Preformace=========")
print(f'Market opened at {day_open}, reached to highest of {day_high} while touched to lowest at {day_low} and finally closed at {day_close}')

=======Stock Exchange Preformace=========
Market opened at 3959.34, reached to highest of 4192.47 while touched to lowest at 3075.17 and finally closed at 3633.43

In [22]:
df = pd.DataFrame(stock_exchange)
df

                  company_name symbol  value   open   high    low  close
0                James-Baldwin    JWN   4222  62.54  78.80  31.78  41.25
1               Poole and Sons    PSS   4586  23.32  22.39  12.88  13.51
2         Kirby, Li and Austin    KIN   3248  66.78  57.43  41.73  53.97
3                  Fischer Ltd    FTD   3860  28.16  30.41  25.07  26.63
4                 Turner Group    TUP   4855  97.68  92.80  60.35  76.94
..                         ...    ...    ...    ...    ...    ...    ...
95            Johnson and Sons    JAS   3981  36.09  29.59  21.03  29.56
96      Smith, Davis and Bauer    SAR   3990  23.82  28.58  22.95  26.32
97   Herrera, Smith and Torres    HRS   3320  30.10  33.41  29.71  32.92
98  Griffin, Vance and Carroll    GCL   4450  67.89  59.74  48.96  51.17
99     Baker, Wright and Riley    BWY   4102  26.30  26.56  17.28  21.40

[100 rows x 7 columns]